extend main
block content
    div.row
        div.col-md-12
            div.well
                h1 Create an issue
                p
                    | Use this page to submit an issue so we can look into it.
                    br Please include a short summary and then a full description telling us everything we need to know.
            hr
    div.row
        div.col-md-8
            div.alert
            form.form-horizontal(action="/issues/submit", method="POST", id="create")
                fieldset
                    div.form-group
                        label.control-label.col-md-3 Summary
                        div.col-md-9
                            input.form-control(type="text", placeholder="Brief summary of your issue", id="summary", name="summary")
                    div.form-group
                        label.control-label.col-md-3 CraftBukkit version
                        div.col-md-5
                            select.form-control(name="server-version")
                                for version in serverVersions
                                    option #{version}
                    div.form-group
                        label.control-label.col-md-3 Essentials version
                        div.col-md-5
                            select.form-control(name="ess-version")
                                for version in essVersions
                                    option #{version}
                    div.form-group
                        label.control-label.col-md-3 Description
                        div.col-md-9
                            textarea.form-control(name="description", id="description", rows="5", placeholder="Please provide an in depth description on how to reproduce this issue / why you want this feature.")
                    div.form-group
                        div.col-md-9.col-md-offset-3
                            button.btn.btn-primary(type="submit") Create Issue

    script(type="text/javascript").
        // Handle form submission
        $("form").submit(function(e) {
            e.preventDefault();
            // check for validation
            // summary
            if ($("#summary").val() == ""){
                setAlert("Please enter a summary of your issue", "alert-error");
                return;
            }
            // description
            if ($("#description").val() == ""){
                setAlert("Please provide a brief description of your issue", "alert-error");
                return;
            }
            // submit the form
            $("button").attr("disabled", true);
            setAlert("Submitting your issue. Please be patient, the page will automatically refresh.");
            $(this).ajaxSubmit(function(r) {
                window.location = r;
            });
        });
        var alertBox = $(".alert");
        function setAlert(text, clazz) {
            alertBox.removeClass();
            alertBox.addClass("alert");
            if (clazz != null){
                alertBox.addClass(clazz);
            }
            alertBox.html(text);
            alertBox.slideDown();
        }
